body {
    background-image: url(/assest/imagenes/fondo3.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: black;
    margin: 0%;
    font-family: Righteous;
    min-height: 100vh;
    width: 100%;
    /*
    border: solid red 5px;
    */
}

a {
    color: orange;
    text-decoration: none;
}

.col {
    color: black;
    border: solid 5px black;
    background-color: rgb(96, 77, 77);
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin: 0%;
}

.container-fluid {
    text-align: center;
    padding: 0%;
}

.contenedor-imag-principal {
    margin-bottom: 5%;
    height: 450px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.fondo-cabeza {
    background-image: url(/assest/imagenes/fondo-Neoncity.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid black 5px;
}

.foto-mia {
    background-image: url(/assest/imagenes/foto-perfil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 200px;
    width: 100%;
    border-radius: 50px;
}

.titulo {
    border-radius: 50px;
    color: white;
    width: 50;
    text-align: center;
    padding: 3%;
    background-color: rgb(96, 77, 77);
    background: linear-gradient(blue);
    opacity: 0.9;
}

.h22 {
    text-align: center;
    margin: 50px;
}

.info {
    text-align: center;
    margin: 5%;
    /*
    border: solid black 1px;
    background-color: azure;
    display: none;
    */
    padding: 2px;
    color: black;
    text-shadow: 0 10px 30px #000;
}

.boder-difum {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    background-color: rgb(243, 243, 243, 0.0);
    padding: 1px;
    border-radius: 100px;
    display: none;
}

.sect-1 {
    margin-left: 35px;
    margin-right: 35px;
    height: calc(100vh - 100%);
}

#btn,
#bt,
#b {
    background-color: green;
}

footer {
    border-top: solid black 3px;
    background-color: rgb(96, 77, 77);
    color: orange;
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    padding: 1%;
}